body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

footer p{
    font-size: 8px;
    text-align: center;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

ul{
    text-align: center;
}


ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
}


ul li a{ 
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

ul li a:hover{
    color: red;
}

h1, h2 {
    text-align: center;
    color: white;
}

div{
    text-align: center;
}

p{ 
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}

